.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 740px;
  text-decoration: none;
}

/* для экранов от 1024px до 1279px */

@media screen and (max-width:1279px) {
  .cover__link {
    min-height: 640px;
  }
}

/* для экранов от 768 до 1023px */

@media screen and (max-width:1023px) {
  .cover__link {
    min-height: 480px;
  }
}

/* для экранов от 320px до 767px */

@media screen and (max-width:767px) {
  .cover__link {
    min-height: 200px;
  }
}