.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  justify-content: space-between;
  width: calc(100% - 96px);
}

/* для экранов от 1024px до 1279px */

@media screen and (max-width:1279px) {
  .gallery {    
    gap: 14px;
  }
}

/* для экранов от 768 до 1023px */

@media screen and (max-width:1023px) {
  .gallery {  
    gap: 16px;    
    width: calc(100% - 48px);
  }
}

/* для экранов от 320px до 767px */

@media screen and (max-width:767px) {
  .gallery {    
    width: calc(100% - 32px);
    gap: 12px;
  }
}