/* для экранов от 768 до 1023px */

@media screen and (max-width:1023px) {
  .intro {
    width: calc(100% - 48px);
    margin: 0 auto;
  }
}

/* для экранов от 320px до 767px */

@media screen and (max-width:767px) {
  .intro {
    width: calc(100% - 32px);
  }
}