.lead__subtitle {  
  max-width: 520px;
  margin: 0 auto;
  margin-bottom: 64px;
  padding: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

/* для экранов от 320px до 767px */

@media screen and (max-width:767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
  }
}