.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 96px);
  min-height: 740px;
  background: url('../../images/cover-trains.jpg') no-repeat 0, 0;  
  background-size: cover;
  background-position: center;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 44, 47, 0.3);
}

.cover:hover::before {
  background-color: rgba(42, 44, 47, 0.8);
}

/* для экранов от 1024px до 1279px */

@media screen and (max-width:1279px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

/* для экранов от 768 до 1023px */

@media screen and (max-width:1023px) {
  .cover {
    min-height: 480px;
  }
}

/* для экранов от 320px до 767px */

@media screen and (max-width:767px) {
  .cover {
    min-height: 200px;
  }
}