.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 96px);
  height: calc(100vw * 0.58);
  max-height: 740px;
  background: url('../../images/cover-trains.jpg') no-repeat 0, 0 rgba(42, 44, 47, 0.3);  
  background-blend-mode: multiply;
  background-size: contain;
  background-position: center;
}

.cover:hover {
  background: url('../../images/cover-trains.jpg') no-repeat 0, 0 rgba(42, 44, 47, 0.8);  
  background-size: contain;
}

/* для экранов от 1024px до 1279px */

@media screen and (max-width:1279px) {
  .cover {
    width: 100%;
    height: calc(100vw * 0.625);
  }
}