.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* для экранов от 320px до 767px */

@media screen and (max-width:767px) {
  .footer__nav {    
    flex-direction: column;
    margin-bottom: calc(48px - 32px);
  }
}