.place {
  display: grid;
  grid-template-columns: 0.96fr 1fr; /* вместо 460px 484px взяла среднее значение отношений колонок для разрешений 768px, 1024px, 1280px */
  gap: 40px 48px; 
  justify-content: space-between;
  align-content: end;
}

/* для экранов от 768 до 1023px */

@media screen and (max-width:1023px) {
  .place {
    gap: 48px 28px; /* для соответствия текста по Pixel-Perfect row-gap должен быть 46px, не по макету */
  }
}

/* для экранов от 320px до 767px */

@media screen and (max-width:767px) {
  .place {
    grid-template-columns: 100%;
    row-gap: 32px;
  }
}
  