.content__lead {
  margin: 0 auto;
  margin-bottom: 92px;
}

/* для экранов от 768 до 1023px */

@media screen and (max-width:1023px) {
  .content__lead {
    margin-bottom: 88px;
  }
}

/* для экранов от 320px до 767px */

@media screen and (max-width:767px) {
  .content__lead {
    margin-bottom: 64px;
  }
}